body {
    margin: 0;
}


.background {
    background-image: url('assets/gradient-violet-bg.jpg');
    left: auto;
    padding-bottom: 110px;
    background-color: #331a5c;
    background-position: center;
    background-size: 100% 130%;
    max-width: auto;
    max-height: 820px;
}


#leftLogo {
    width: 2%;
    height: auto;
    padding-top: 0%;
    margin-left: 1%;
    z-index: 1;
}


ul {
    list-style-type: none;
    display: inline-flex;
    float: left;
    margin-left: 100%;
    margin-top: -30%;
}

#ul-2 {
    list-style-type: none;
    font-size: 18px;
    border: white 1px;
    list-style-type: none;
    z-index: 8;
    display: inline-flex;
    text-align: right;
}

li a {
    display: inline;
    list-style-type: none;
    color: white;
    text-align: center;
    padding: 40px;
    font-size: 22px;
    text-align: right;
    font-family: Arial, Helvetica, sans-serif
}

#button1 {
    background-color: transparent;
    margin-left: 30px;
    border: white solid 1px;
    border-radius: 1px;
    width: 130px;
    height: 35px;
    margin-bottom: 10px;
    font-family: roboto;
    color: white;
    font-size: 18px;
}

 /* .navButton {
    height: 28px;
    width: 135px;
    border: solid 1px white;
    position: relative;
    z-index: 0;
    left: 20px;
    top: 0px;
    background-color: transparent;
  } */


.hero-section {
    display: block;
    position: center;
    z-index: 0;
    background-color: transparent;
    margin-left: 20%;
    margin-right: 0%;

}

.container-middle-content {
    float: center;  
    max-width: 620px;
    margin-left:auto

}

#center {
    margin-right: 0%;
    margin-top: 2%;
    padding-right: 45%;
    padding-left: 10%;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 20px;
    font-style: normal;
    font-weight: lighter;
    text-align: center;
    display: block;
    line-height: 10px;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 35pt;
    font-style: normal;
    font-weight: bold;
    text-align: center;
}

#button2 {
    height: 46px;
    width: 219px;
    margin-left: 0%;
    display: inline;
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 4px;
    border-color: none;
    background-color: rgb(254, 144, 0);
    float: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    font-size: 14pt;
    z-index: 4;
}

h4 {
    color: black;
    font-size: 30px;
    text-align: center;
    padding-top: 200px;
    font-family: Arial, Helvetica, sans-serif;
}

h5 {
    color: black;
    font-style: italic;
    font-weight: lighter;
    font-size: 23px;
    text-align: center;
    padding-top: 200px;
    font-family: Arial, Helvetica, sans-serif;
}

h6 {
    color: black;
    font-style: italic;
    font-weight: lighter;
    font-size: 16px;
    text-align: center;
    padding-top: 200px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 100px;
}

.text-container {
    margin-top: -180px;
}
.text-container2 {
    margin-left: 590px;
    margin-top: -250px;
}

.section-white {
    margin: 200px 0px;
    height: 2000px;
    background-position: center;
    position: relative;
    max-width: 100%;
    max-height: auto;
    background-color: white;
}

#grid {
    padding-top: 20px;
    padding-bottom: -50px;
    display: grid;
    grid-auto-columns: 2fr;
    max-width: 880px;
    margin-top: -40;
    margin-right: auto;
    margin-bottom: 50px;
    margin-left: auto;
    align-items: center;
    grid-column-gap: 140px;
    grid-row-gap: 90px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
}